* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}

div.camera {
    text-align: center;
    margin-top: 2em;
}

a.camera {
    display: inline-block;
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.camera:hover {
    background-color: #0056b3;
}